@{
    ViewData["Title"] = "Home Page";
}
@model ProjectListViewModel
<header>
    <link href="~/css/Styles.css" rel="stylesheet" />
</header>
<table id="books">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author First Name</th>
            <th>Middle Intial</th>
            <th>Last Name</th>
            <th>Publisher</th>
            <th>ISBN Number</th>
            <th>Classification</th>
            <th>Category</th>
            <th>Number of Pages</th>
            <th>Price</th>
            <th> </th>
        </tr>
    </thead>
        @foreach (var x in Model.Projects)
        {
            <partial name="BookSummary" model="x" />
        }
</table>

    <!--create the page links and make them pretty-->
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1"></div>


